body {
    margin: 0;
    display: flex;           /* используем Flexbox для выравнивания */
	flex-direction: column;
    justify-content: center; /* центровка по горизонтали */
    align-items: center;     /* центровка по вертикали */
    height: 100vh;           /* занимаем весь экран по высоте */

    background: #fffffa;
    font-family: "Verdana", sans;
}

h1{
	text-align: center;
	margin: 0;
	padding: 0.67em 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 колонок одинаковой ширины */
    width: min(80vmin, 80vh);              /* ширина таблицы равна ширине viewport */
    height: min(80vmin, 80vw);             /* высота таблицы равна её ширине */
    border: 1px solid #000;                /* рамка вокруг таблицы */
}

.start {
	text-align: center;
}

.cell {
    background-color: #ffe;                 /* цвет фона ячеек */
    border: 1px solid #000;                 /* обводка вокруг ячеек */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

form[name = MyForm],
input[name = stopwatch] {
	text-align: center;
}

input[name = stopwatch] {
	border: none;
	font-family: "Verdana", sans;
	font-size: 1em;
}

.resultBar {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	height: 100vh;
	background: #f2f2f2;
	overflow: auto;
	box-shadow: 0 0 4px 0px;
}

.resultBarCell {
	width: auto;
	min-height: 20px;
	background: #ffe;
	margin: 5px;
	padding: 5px;
}
