body{
	/*width: 960px;*/
	margin: 0 auto;
	background: #fffffa;
	font-family: "Verdana", sans;
	position: relative;
}

h1{
	text-align: center;
	margin: 0;
	padding: 0.67em 0;
}

.main{
	width: 400px;
	height: 400px;
	margin: 0 auto;
	font-size: 0;
}

.start {
	text-align: center;
}

.cell{
	display: inline-block;
	border: 1px solid black;
	width: 19.5%;
	height: 12.8%;
	padding-top: 6.7%;
	font-size: 20px;
	text-align: center;
	background: #ffd;
}

/*.cell {
	display: inline-block;
	border: 1px solid black;
	width: 58px;
	height: 40px;
	padding-top: 18px;
	font-size: 20px;
	text-align: center;
}*/

form[name = MyForm],
input[name = stopwatch] {
	text-align: center;
}

input[name = stopwatch] {
	border: none;
	font-family: "Verdana", sans;
	font-size: 1em;
}

.resultBar {
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	height: 100vh;
	background: #f2f2f2;
	overflow: auto;
	box-shadow: 0 0 4px 0px;
}

.resultBarCell {
	width: auto;
	min-height: 20px;
	background: #ffd;
	margin: 5px;
	padding: 5px;
}